In [1]:
from tools.gcp.firestoremanager import FirestoreManager
from tools.gcp.cloud_storage import ParquetHandler

In [4]:
storage_auth = "json/storage.json"
storage_property = {"bucket_name":"news_collection", 
                       "src_filename":"news_collection.parquet", 
                       "summary_filename":"summary_collection.parquet"}
ph = ParquetHandler(credentials_file=storage_auth, bucket_name=storage_property.get('bucket_name'))
df_news_collection = ph.read_parquet_from_gcs("news_collection.parquet")

In [6]:
df_news_collection.sort_values(by='date', ascending=False).head()

,title,date,link
3b6e72cf22ae8ba68289c20790c13d6cd35bdb5385d84a510882a5a540c26d11,좋아질 일만 남았다 vs 공급 부족 닥친다 | 한국경제,2025-04-27,https://www.hankyung.com/article/202504267227i
c714557cfc0af1fda0e0c422b39dc5a3acfa5917b067a1f1e02b229458a2ac54,"[eng] [주한독일대사] 통일 35년 후, 독일에 남은 과제는? | 독일, 유럽,...",2025-04-27,https://www.youtube.com/watch?v=g4xwC-aYT_4
da5fcb7c0490c9c440d09a8185cf29272483b8410d4b51f15603bc761651a050,[eng_sub] 충격의 관세 발표로 혼란한 세계...트럼프가 꿈 꾸는 세상은? |...,2025-04-27,https://www.youtube.com/watch?v=dBxsSk9M15g
2a33c279c3ec3a6d295c2df3f937fd32e7ad9cf40e0005425e04eae3d99f093c,"자유무역 아니었나? 미국이 관세 전쟁을 할 수 있는 이유! | 트럼프, 미국, 관세",2025-04-27,https://www.youtube.com/watch?v=G4atXqHkjWM
821b5b27b0747b6b45bec2cf23d27db801e66a381a87eaa8ff9d0229647cf141,[eng] 전 일본 외무대신 고노 다로가 생각하는 한미일 관계의 현재와 미래 | 한...,2025-04-27,https://www.youtube.com/watch?v=Nh-U2zHq5iQ

In [ ]:
import pytz
pytz.timezone('Asia/Dubai')
pytz.timezone('America/New_York')

In [ ]:
pytz.timezone('Asia/Dubai')

In [ ]:
storage_auth = "json/storage.json"
storage_property = {"bucket_name":"news_collection", 
                       "src_filename":"news_collection.parquet", 
                       "summary_filename":"summary_collection.parquet"}
ph = ParquetHandler(credentials_file=storage_auth, bucket_name=storage_property.get('bucket_name'))
df_ph = ph.read_parquet_from_gcs("news_collection.parquet")

In [4]:
file_auth = "json/web-driver.json"
fs = FirestoreManager(file_auth)

In [38]:
df_fire = fs.read_data(collection_name='news_collection')

In [58]:
len(df_ph.index)

15849

In [41]:
len(df_fire.index)

15849

In [49]:
df_merge = pd.concat([df_fire, df_ph], axis=0)

In [50]:
len(df_merge.index)

31673

In [55]:
df_merge= df_merge.drop_duplicates()

In [56]:
ph.save_parquet_to_gcs('news_collection.parquet', df_merge)

In [33]:
len(df11)

15849

In [35]:
len(df2.index)

31673

In [23]:
set(df1.index) - set(df.index)

{'0947ad0133a492a8737f58e414835e05cfd500cbeaa65b9cd63e71aeca4c16b0',
 '16a0d5b96271420ed4c121e52badef77a636db9338c0a4b68cb753133a4b286c',
 '28e2c6e873b1d0a487e40d198a3c22e6b4122d71ec90c998f5ea4c38113dc240',
 '299b7d5b38b22f80d284ce5d2c3dc332b6159e762740b59014389d5131b2f8b0',
 '35490ba6a51929bcb73ec9d9eecb50e7822236a3c1431191616f6a58cc0ad3a2',
 '3c99edc2dadbb45325b26c258535cdb76b6b9b71e2fc21f6d5d89241102d43d5',
 '3f1ab45969d9b1e1cb1790473373ef4773c0e663999eeeb5af96079f048c736e',
 '55a104c012398d0d172d44d8804184aa0dd366d3b26aa5b189527cb26a29203a',
 '55b53829d7947070127aa19921aeba793a50b8b19aa52a13c56c415c7b3bd43c',
 '587a74f3ada64efa65bbe9ff35171778f9fbdc34de1deb9aed1a93f824f22b0a',
 '66cb79f5c75a899c958c1f390fa653ad452d58388e53e6ffb03ea1c67c39c693',
 '6b11212e4a78777c160f20b55e4c8637d679f362e689b01a8f97e7bb9c1d8784',
 '730cb2ca2fc782daa9dfa98b7c95984c537521db3bc54c90ae455eb550be78ec',
 '77f67c5423413c5280da4de3bd4bd1cf31a97257743bf489ca148ced73bfa810',
 '8cb0c1314ea665d039dfbba64f00b233eea27256dffd5b785d3e8ab1b7c72b0f',
 '9ce8b8a79c32150641658f91f37905fb91513477dc1beeae2256a94fc03556fc',
 'b1cd191bbac76ae5034aee991f41251d98bab3ac4905b85befa099034a3301bb',
 'ba93f6572a6922638a24737aac08ccfd2df9653ccd4ef4ec696f3badb8cdc5cd',
 'cfc49fb1c93bb2ec0076dcd5751e155ef505cfd33f9b9f163205ab2adb20a490',
 'd9b3251ab23a1ab3ba416210756f6d8e6b8107d1bb43c590163e7d1fb5780728',
 'dc3b4e1fc2d759e61dc16566ea7a3df0c212f6cf821555aa60463b0e499950e6',
 'e7b54cfe37d2f2ea79b14d3e50531f5c47dd0da836305adeb0c23c9b37160a34',
 'e819ba77a54de30c4c7208d99fd279c774bf7b3d53b6613aaad2783f349c5826',
 'f4a7c890e44873123a57065ddcd61e620890c327f819dcbcae2269b3c8c59d09',
 'fa76231f4540ba1475174ee3c0405dfaed7a36feef37a394afe8c50f3cf953d9'}

In [26]:
df2

,date,title,link
00137859238ee89b87a65b6d0d943f3642f76cb5ea47cc8c8ced2c51343933cb,2025-04-21,trump’s global trade war hangs over vance’s in...,https://www.bloomberg.com/news/articles/2025-0...
00190bbacb5d11f3b88a2146f9f9050e960d7e450dcdebdce2f4f147504d5fdd,2025-03-28,"“신차 장만하려고 했는데”...700만원 넘게 오른다는 미국, 왜? - 매일경제",https://www.mk.co.kr/news/world/11276907
001bce2db5f9fe194c70af764b10a361044898b6d5ae14f83a58005ae0963c5a,2025-03-31,trump’s reciprocal tariffs set to start with a...,https://www.bloomberg.com/news/articles/2025-0...
001cea8ff8de63be9551f9760fe359d2c6f43412cd249c2a58b6d6d7797c72cc,2025-02-20,"oil holds gain with focus on us stockpiles, su...",https://www.bloomberg.com/news/articles/2025-0...
001e35171b4dc8ecc48893fa161b885cbf1dcb00f02af30f102f8ff054a9323b,2025-02-19,venezuela postpones local vote as opposition p...,https://www.bloomberg.com/news/articles/2025-0...
...,...,...,...
42d21e5ec8e9de58c46fecba6e1bd652d9d4079630bf7e89bfa75ba824441a8a,2025-04-26,powell draws applause on independence at close...,https://www.bloomberg.com/news/articles/2025-0...
6b11212e4a78777c160f20b55e4c8637d679f362e689b01a8f97e7bb9c1d8784,2025-04-26,india says its troops responded to pakistan sh...,https://www.bloomberg.com/news/articles/2025-0...
4c388a499e1ff1361e8285a8778782e3137f8a091bec529382efae31ceda6346,2025-04-26,"[김현석의 월스트리트나우-4월26일] ""좋아질 일만 남았다"" vs ""공급 부족 닥친다""",https://www.youtube.com/watch?v=RQauW5MfUWo
f94c4205daffce03db33212d727a7b6f99c76d0907d31d1cc171f01c0a1ac81f,2025-04-26,Israel Has Beaten Back Its Enemies. The War Is...,https://www.wsj.com/world/middle-east/israel-h...
ced483498a02f3014c3ad270d791ed94bf27eb895993321a7670c289772bfd60,2025-04-26,us agents cleared for warrantless arrest of al...,https://www.bloomberg.com/news/articles/2025-0...

In [ ]:
df = ph.read_parquet_from_gcs("summary_collection.parquet")

NameError: name 'ph' is not defined

In [1]:
from functions.summarizer import SUMMARIZER
import os

In [2]:
storage_auth = "json/storage.json"
gemini_key = os.environ.get("gemini_key")
model_id = os.getenv("gemini_model", "gemini-2.0-flash")
storage_property:dict={"bucket_name":"news_collection", "src_filename":"news_collection.parquet", 
                                        "summary_filename":"summary_collection.parquet"}

sr = SUMMARIZER(
    gemini_key=gemini_key,
    storage_auth=storage_auth,
    storage_property=storage_property,
    model_id=model_id
)

In [3]:
dates = sr.get_dates()

In [4]:

res = sr.get_summary(dates[-5:-1])

In [2]:
# res

In [6]:
ds = sr.storage_handler.read_parquet_from_gcs("summary_collection.parquet")

In [3]:
# ds.to_dict(orient='records')

In [12]:
res.keys()

dict_keys(['summary_original', 'summary', 'tags', 'related_link_of_articles', 'etf_list_relevant_in_USA', 'etf_list_relevant_in_Japan', 'etf_list_relevant_in_China', 'etf_list_relevant_in_Korea', 'risk_assessment', 'scenarios', 'sector_impacts', 'event_timeline_original', 'event_timeline'])

In [32]:
pd.DataFrame(res.get('related_link_of_articles'))

# pd.DataFrame(data = [summary],  columns =['summary'])

,link,description
0,https://www.bloomberg.com/news/articles/2025-0...,"이 기사는 트럼프 행정부가 중국, 캐나다, 멕시코에 관세를 부과하여 무역 전쟁을 시..."
1,https://www.bloomberg.com/news/articles/2025-0...,멕시코가 미국의 관세에 대해 보복 관세를 부과하겠다고 발표하면서도 협력을 촉구하는 ...
2,https://www.bloomberg.com/news/articles/2025-0...,EU가 미국이 상품에 관세를 부과할 경우 보복하겠다고 경고하는 내용을 담고 있습니다.
3,https://www.bloomberg.com/news/articles/2025-0...,일본이 트럼프 관세가 엔화에 미치는 영향을 면밀히 주시할 것이라고 밝힌 내용을 보도...
4,https://www.bloomberg.com/news/articles/2025-0...,대한민국 무역 협상가가 이번 주 미국을 방문하여 무역 회담을 가질 예정임을 알립니다.

In [28]:
pd.DataFrame(data = res.get('tags'),  columns =['summary'])

                   summary
0                Trade War
1                  Tariffs
2       US-China Relations
3      US-Mexico Relations
4      US-Canada Relations
5              Geopolitics
6          Economic Policy
7  International Relations
8     Trump Administration

In [22]:

df_selected = sr.df[sr.df["date"].isin(dates)]
if df_selected.empty:
    raise ValueError(f"{dates}에 해당하는 뉴스가 없습니다.")

headline_with_links = _create_headline_with_links(df_selected)
# res = self.assistant.summarize_geopolitical_news(headline_with_links) 
# assert 2==1

# new_df = pd.DataFrame([res]) 
# new_df['date'] = self._get_today_date()
# self.storage_handler.upsert_parquet_to_gcs(self.filename, new_df, key_columns=None)

C:\Users\taest\AppData\Local\Temp\ipykernel_30252\1046350004.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df_selected = sr.df[sr.df["date"].isin(dates)]

In [19]:
df_selected

,date,title,link
00137859238ee89b87a65b6d0d943f3642f76cb5ea47cc8c8ced2c51343933cb,2025-04-21,trump’s global trade war hangs over vance’s in...,https://www.bloomberg.com/news/articles/2025-0...
00190bbacb5d11f3b88a2146f9f9050e960d7e450dcdebdce2f4f147504d5fdd,2025-03-28,"“신차 장만하려고 했는데”...700만원 넘게 오른다는 미국, 왜? - 매일경제",https://www.mk.co.kr/news/world/11276907
001bce2db5f9fe194c70af764b10a361044898b6d5ae14f83a58005ae0963c5a,2025-03-31,trump’s reciprocal tariffs set to start with a...,https://www.bloomberg.com/news/articles/2025-0...
001cea8ff8de63be9551f9760fe359d2c6f43412cd249c2a58b6d6d7797c72cc,2025-02-20,"oil holds gain with focus on us stockpiles, su...",https://www.bloomberg.com/news/articles/2025-0...
001e35171b4dc8ecc48893fa161b885cbf1dcb00f02af30f102f8ff054a9323b,2025-02-19,venezuela postpones local vote as opposition p...,https://www.bloomberg.com/news/articles/2025-0...
...,...,...,...
fff484731dd705f42a25a86868b5ea036034131404191adb77876f7d756300e3,2025-03-05,twitter co-founder ev williams is building ano...,https://www.bloomberg.com/news/articles/2025-0...
fff91b6e6052f1992e61f5993a602a38eebaec7ec157c9a70f9f06edcaaefe4e,2025-03-12,musk’s unpopularity makes his robotaxi plan ev...,https://www.bloomberg.com/opinion/articles/202...
fffb7b15041117b024b3b05cba3d79e114d0b7394767fabe4f2cfe73c109e66a,2025-03-28,corporate america ditches green bonds as trump...,https://www.bloomberg.com/news/articles/2025-0...
fffdc0c56d0cdb070e70aad07cf39e96af385a1c9f7395b5e1749aeb68719558,2025-01-22,pork producer smithfield’s ipo seeks to raise ...,https://www.bloomberg.com/news/articles/2025-0...
ffff227c76969c0862610ffc8c92f373a5dc00f8756d0fa4fc4db9066be1df5c,2025-01-31,old mutual ceo sees silver lining for africa f...,https://www.bloomberg.com/news/articles/2025-0...

In [21]:
def _create_headline_with_links(df) -> str:
    headline_with_links = "\n".join([
            f"• {row['date']} - {row['title']} - {row['link']}"
            for _, row in df.iterrows()
        ])
    return headline_with_links

In [6]:
credentials_file = "json/storage.json"

In [17]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

# 예시 데이터 생성
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', "dss"],
    'age': [25, 30, 35, 40, 66],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', "dd"]
}

# pandas DataFrame으로 변환
df = pd.DataFrame(data)

# DataFrame을 PyArrow Table로 변환
table = pa.Table.from_pandas(df)

# Parquet 파일로 저장
output_file = 'example.parquet'
pq.write_table(table, output_file)

print(f"Parquet 파일 '{output_file}'이 생성되었습니다.")

Parquet 파일 'example.parquet'이 생성되었습니다.

In [7]:
handler = ParquetHandler(credentials_file=credentials_file, bucket_name='news_collection')

In [21]:
handler.upsert_parquet_to_gcs('example.parquet', df, key_columns=list(df.columns))

In [22]:
dd = handler.read_parquet_from_gcs(output_file)
dd

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      dss   66           dd

In [7]:

# 로컬 테스트시 credentials_file 경로 설정
# credentials_file = os.environ.get('GOOGLE_APPLICATION_CREDENTIALS')  # 선택

# ParquetHandler 인스턴스 생성
handler = ParquetHandler(credentials_file=credentials_file, bucket_name='news_collection')

input_file = 'example.parquet'
output_file = 'output-file.parquet'  # 처리된 파일을 저장할 GCS 경로

# 예시 조건
condition = "age > 30"

# 데이터 처리
handler.save_parquet_to_gcs(input_file, df)
handler.process_and_update_parquet(input_file, output_file, condition)

In [10]:
dd = handler.read_parquet_from_gcs(output_file)
dd

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [9]:
dd1 = handler.read_parquet_from_gcs(input_file)
dd1

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [11]:
from tools.gcp import FirestoreManager
firestore_auth = "json/web-driver.json"
firestore = FirestoreManager(firestore_auth)

In [16]:
collection_name = "news_collection"
df = firestore.read_data(collection_name)

In [18]:
df

,date,title,link
00137859238ee89b87a65b6d0d943f3642f76cb5ea47cc8c8ced2c51343933cb,2025-04-21,trump’s global trade war hangs over vance’s in...,https://www.bloomberg.com/news/articles/2025-0...
00190bbacb5d11f3b88a2146f9f9050e960d7e450dcdebdce2f4f147504d5fdd,2025-03-28,"“신차 장만하려고 했는데”...700만원 넘게 오른다는 미국, 왜? - 매일경제",https://www.mk.co.kr/news/world/11276907
001bce2db5f9fe194c70af764b10a361044898b6d5ae14f83a58005ae0963c5a,2025-03-31,trump’s reciprocal tariffs set to start with a...,https://www.bloomberg.com/news/articles/2025-0...
001cea8ff8de63be9551f9760fe359d2c6f43412cd249c2a58b6d6d7797c72cc,2025-02-20,"oil holds gain with focus on us stockpiles, su...",https://www.bloomberg.com/news/articles/2025-0...
001e35171b4dc8ecc48893fa161b885cbf1dcb00f02af30f102f8ff054a9323b,2025-02-19,venezuela postpones local vote as opposition p...,https://www.bloomberg.com/news/articles/2025-0...
...,...,...,...
fff484731dd705f42a25a86868b5ea036034131404191adb77876f7d756300e3,2025-03-05,twitter co-founder ev williams is building ano...,https://www.bloomberg.com/news/articles/2025-0...
fff91b6e6052f1992e61f5993a602a38eebaec7ec157c9a70f9f06edcaaefe4e,2025-03-12,musk’s unpopularity makes his robotaxi plan ev...,https://www.bloomberg.com/opinion/articles/202...
fffb7b15041117b024b3b05cba3d79e114d0b7394767fabe4f2cfe73c109e66a,2025-03-28,corporate america ditches green bonds as trump...,https://www.bloomberg.com/news/articles/2025-0...
fffdc0c56d0cdb070e70aad07cf39e96af385a1c9f7395b5e1749aeb68719558,2025-01-22,pork producer smithfield’s ipo seeks to raise ...,https://www.bloomberg.com/news/articles/2025-0...
ffff227c76969c0862610ffc8c92f373a5dc00f8756d0fa4fc4db9066be1df5c,2025-01-31,old mutual ceo sees silver lining for africa f...,https://www.bloomberg.com/news/articles/2025-0...

In [19]:
handler.save_parquet_to_gcs('news_collection.parquet', df)